{% extends "home_page/base.html"%}

{% block body_block %}
<div class="mt-4 p-5 text-black rounded">
    <h1> Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</h1>
    

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet bibendum urna. Praesent blandit ex elit, vitae condimentum velit sodales ut. Vivamus non elit ultricies, sagittis libero sit amet, congue eros. Cras eget sodales ex, eu elementum nulla. Ut in libero neque. Vivamus rhoncus, augue ac rhoncus suscipit, nunc felis dignissim enim, ac pulvinar nunc arcu eu dolor. Donec vestibulum libero ut ipsum posuere, id rutrum purus iaculis. Mauris auctor cursus ipsum sed tempus. In cursus eget neque in luctus.
    </p>
    <p>
        Nullam vitae cursus mauris. Donec fermentum dolor nisl, at dictum nisl suscipit nec. Morbi libero elit, lobortis in accumsan ullamcorper, dignissim in libero. Fusce ligula ipsum, luctus eget ullamcorper dapibus, molestie et ante. Proin congue ultricies tempus. Fusce congue metus vel dui elementum, sed aliquet orci sagittis. Mauris laoreet placerat elit quis aliquam. Sed faucibus eros vitae condimentum euismod. Nam commodo neque eget arcu posuere, non pharetra ligula malesuada. Nulla laoreet commodo dictum.
    </p>
    <p>
        Duis eu risus id turpis fringilla eleifend. Etiam congue risus tellus, et posuere augue faucibus sit amet. Praesent tincidunt massa sit amet imperdiet luctus. Praesent convallis, justo ac sagittis rutrum, risus magna mollis ligula, vitae fringilla est lorem eu nulla. Aenean viverra dui at arcu congue, et pharetra ante ullamcorper. In a nibh elementum, vulputate mauris nec, tempus est. Sed a urna quis nunc vehicula viverra sed finibus nibh. Quisque ornare quam volutpat nisl luctus convallis. Donec ut tempor ex, nec euismod urna. Quisque malesuada fringilla massa, a eleifend lacus fermentum id. Ut blandit accumsan dignissim. Quisque pharetra elit vitae dolor convallis, id suscipit neque cursus. Proin a quam tincidunt, condimentum risus bibendum, condimentum odio. Etiam a est pharetra felis lacinia efficitur ac et leo.
    </p>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet bibendum urna. Praesent blandit ex elit, vitae condimentum velit sodales ut. Vivamus non elit ultricies, sagittis libero sit amet, congue eros. Cras eget sodales ex, eu elementum nulla. Ut in libero neque. Vivamus rhoncus, augue ac rhoncus suscipit, nunc felis dignissim enim, ac pulvinar nunc arcu eu dolor. Donec vestibulum libero ut ipsum posuere, id rutrum purus iaculis. Mauris auctor cursus ipsum sed tempus. In cursus eget neque in luctus.
    </p>
    <p>
        Nullam vitae cursus mauris. Donec fermentum dolor nisl, at dictum nisl suscipit nec. Morbi libero elit, lobortis in accumsan ullamcorper, dignissim in libero. Fusce ligula ipsum, luctus eget ullamcorper dapibus, molestie et ante. Proin congue ultricies tempus. Fusce congue metus vel dui elementum, sed aliquet orci sagittis. Mauris laoreet placerat elit quis aliquam. Sed faucibus eros vitae condimentum euismod. Nam commodo neque eget arcu posuere, non pharetra ligula malesuada. Nulla laoreet commodo dictum.
    </p>
    <p>
        Duis eu risus id turpis fringilla eleifend. Etiam congue risus tellus, et posuere augue faucibus sit amet. Praesent tincidunt massa sit amet imperdiet luctus. Praesent convallis, justo ac sagittis rutrum, risus magna mollis ligula, vitae fringilla est lorem eu nulla. Aenean viverra dui at arcu congue, et pharetra ante ullamcorper. In a nibh elementum, vulputate mauris nec, tempus est. Sed a urna quis nunc vehicula viverra sed finibus nibh. Quisque ornare quam volutpat nisl luctus convallis. Donec ut tempor ex, nec euismod urna. Quisque malesuada fringilla massa, a eleifend lacus fermentum id. Ut blandit accumsan dignissim. Quisque pharetra elit vitae dolor convallis, id suscipit neque cursus. Proin a quam tincidunt, condimentum risus bibendum, condimentum odio. Etiam a est pharetra felis lacinia efficitur ac et leo.
    </p>

</div>

{% endblock %}