<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProTrack</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/763/763812.png">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Document</title>
</head>
<body >
    <div style="margin:auto;margin-top:100px;width:30%;">

        <div class="card text-white" style="background-color:#073B4C">
            <br>
            <h4 style="margin-left:20px" class="card-title">
                LOGIN
            </h4>
            <div class="card-body">
                <form method="POST" class="form" action="{% url 'login_signup:Login'%}">
                    {% csrf_token %}
                    {% if failed %}
                        <p style="color:red">Username/Password Invalid</p>
                    {% endif %}
                    <label class="form-label" for="username">Username</label>
                    <input  type="text" name='username' id="username" placeholder="name@example.com" required class="form-control">
                    

                    <label class="form-label" style="text-align:left"  for="password">Password</label>
                    <input placeholder="*****************" name="password" type="password" id="password" required class="form-control">
                    <br>
                    <div  style="text-align:center">
                        <input class="btn btn-success " style="margin:auto" type="submit" value="login">
                        <br><br>
                        <a style="text-align:center" href="{% url 'login_signup:Signup'%}">Sign-Up?</a>
                    </div>
                </form>
    
                
            </div>
    
        </div>
    </div>

</body>
</html>